*{
    box-sizing: border-box;
    
}
.overall
{
    width:90%;
    margin: auto;
    font-family: 'Comme';
}
.sized
{
    width: 100px;
    height:100px ;
}
.backimg
{
    background-image: url('/Assets/Images/header image.png');

}
.starclr
{
    color: rgb(61, 61, 61);
}
.backimgpost1
{
    background-image: url('/Assets/Images/poster home 1.png');
    
}
.backimgpost2
{
    background-image: url('/Assets/Images/poster home 2.png');
    
}
.smartpost1
{
    background-image: url('/Assets/Images/ear buds poster home.png');
}
.smartpost2
{
    background-image: url('/Assets/Images/mouse poster home.png');
}
.smartpost3
{
    background-image: url('/Assets/Images/smart watch poster home.png');
}
.iconsize
{
    height: auto;
    width:auto;
}
.relimg
{
    height:710px;
    width: 600px;
}
.relimgmd
{
   height:510px;
    width: 400px; 
}
.relimgsm
{
   height:300px;
    width: 200px; 
}